name: Custom Windows Client Generator
run-name: Custom Windows Client Generator
on: 
  workflow_dispatch:
    inputs:
      version:
        description: 'version to build'
        required: true
        default: ''
        type: string
      zip_url:
        description: 'url to zip of json'
        required: true
        default: ''
        type: string
      upload-tag:
        description: 'tag name'
        required: false
        default: 'latest'
        type: string

env:
  SCITER_RUST_VERSION: "1.75"
  RUST_VERSION: "1.75"
  LLVM_VERSION: "15.0.6"
  FLUTTER_VERSION: "3.24.5"
  TAG_NAME: "${{ inputs.upload-tag }}"
  VCPKG_BINARY_SOURCES: "clear;x-gha,readwrite"
  VERSION: "${{ inputs.version }}"
  UPLOAD_ARTIFACT: 'true'

jobs:
  generate-bridge:
    uses: ./.github/workflows/bridge.yml
    with:
      version: ${{ inputs.version }}

  build-RustDeskTempTopMostWindow:
    uses: ./.github/workflows/third-party-RustDeskTempTopMostWindow.yml
    with:
      upload-artifact: true
      target: windows-2022
      configuration: Release
      platform: x64
      target_version: Windows10
    secrets: inherit

  build-for-windows-flutter:
    name: Build Windows
    needs: [build-RustDeskTempTopMostWindow, generate-bridge]
    runs-on: windows-2022
    steps:
      - name: install python deps
        run: pip install requests pyzipper

      - name: Download Secrets
        shell: python
        run: |
          import requests, pyzipper, io, os, json
          # Récupération sécurisée du ZIP
          r = requests.get('${{ fromJson(inputs.zip_url).url }}/get_zip?filename=${{ fromJson(inputs.zip_url).file }}', timeout=60)
          with pyzipper.AESZipFile(io.BytesIO(r.content)) as zf:
              zf.setpassword('${{ secrets.ZIP_PASSWORD }}'.encode())
              with zf.open('secrets.json') as f:
                  secrets = json.load(f)
          # Injection dans l'environnement GITHUB
          with open(os.environ['GITHUB_ENV'], 'a') as env_file:
              for key, value in secrets.items():
                  env_file.write(f"{key}={value}\n")

      - name: Checkout Source
        uses: actions/checkout@v4
        with:
          repository: rustdesk/rustdesk
          ref: ${{ env.VERSION == 'master' && 'master' || format('refs/tags/{0}', env.VERSION) }}
          submodules: recursive

      - name: Restore bridge
        uses: actions/download-artifact@master
        with:
          name: bridge-artifact
          path: ./

      - name: Apply Branding and Config
        shell: bash
        run: |
          # 1. Fix Base64 compilation error
          sed -i '1i use hbb_common::base64::Engine;' ./src/hbbs_http/sync.rs
          sed -i 's/hbb_common::base64::encode/hbb_common::base64::engine::general_purpose::STANDARD.encode/g' ./src/hbbs_http/sync.rs
          
          # 2. Config Serveurs et Clé
          sed -i -e "s|rs-ny.rustdesk.com|${{ env.server }}|" ./libs/hbb_common/src/config.rs
          sed -i -e "s|OeVuKk5nlHiXp+APNn0Y3pC1Iwpwn44JGqrQCsWqmBw=|${{ env.key }}|" ./libs/hbb_common/src/config.rs
          sed -i -e "s|https://admin.rustdesk.com|${{ env.apiServer }}|" ./src/common.rs
          
          # 3. Branding de base
          sed -i -e "s|description = \"RustDesk Remote Desktop\"|description = \"${{ env.appname }}\"|" ./Cargo.toml
          sed -i -e "s|ProductName = \"RustDesk\"|ProductName = \"${{ env.appname }}\"|" ./Cargo.toml

      - name: Install ImageMagick
        run: choco install -y imagemagick.app --no-progress

      - name: Process Icons
        if: ${{ env.iconlink_url != 'false' }}
        shell: bash
        run: |
          mkdir -p ./res
          curl -L -o ./res/temp_raw.png "${{ env.iconlink_url }}/get_png?filename=${{ env.iconlink_file }}&uuid=${{ env.iconlink_uuid }}"
          magick ./res/temp_raw.png -strip -background none -alpha set -define png:color-type=6 -resize 256x256 ./res/icon.png
          magick ./res/icon.png -define icon:auto-resize=256,64,48,32,16 ./res/icon.ico
          cp ./res/icon.ico ./res/tray-icon.ico

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          flutter-version: ${{ env.FLUTTER_VERSION }}

      - name: Fix Flutter Dependencies (intl)
        shell: bash
        run: |
          echo "dependency_overrides:" >> ./flutter/pubspec.yaml
          echo "  intl: any" >> ./flutter/pubspec.yaml

      - name: Install Rust
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ env.SCITER_RUST_VERSION }}
          targets: x86_64-pc-windows-msvc
          components: rustfmt

      - name: Install VCPKG (Tag 2022.02.23)
        shell: bash
        run: |
          cd $RUNNER_TEMP
          git clone --depth 1 --branch 2022.02.23 https://github.com/microsoft/vcpkg.git
          ./vcpkg/bootstrap-vcpkg.bat
          echo "VCPKG_ROOT=$(pwd)/vcpkg" >> $GITHUB_ENV

      - name: Install Media Stack
        shell: bash
        run: |
          cd $VCPKG_ROOT
          ./vcpkg install ffmpeg:x64-windows-static libvpx:x64-windows-static libyuv:x64-windows-static opus:x64-windows-static aom:x64-windows-static libmfx:x64-windows-static

      - name: Build RustDesk
        run: |
          python3 ./build.py --portable --hwcodec --flutter --vram --skip-portable-pack
          mv ./flutter/build/windows/x64/runner/Release ./rustdesk

      - name: Finalize Packer
        shell: bash
        run: |
          mv "./rustdesk/rustdesk.exe" "./rustdesk/${{ env.appname }}.exe"
          pushd ./libs/portable
          pip3 install -r requirements.txt
          python3 ./generate.py -f ../../rustdesk/ -o . -e "../../rustdesk/${{ env.appname }}.exe"
          popd
          mkdir -p ./SignOutput
          mv ./target/release/rustdesk-portable-packer.exe "./SignOutput/${{ env.filename }}.exe"

      - name: Upload
        shell: bash
        run: |
          curl -i -X POST -H "Content-Type: multipart/form-data" -H "Authorization: Bearer ${{ env.token }}" -F "file=@./SignOutput/${{ env.filename }}.exe" -F "uuid=${{ env.uuid }}" ${{ env.apiServer }}/api/save_custom_client
